.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #dadbd3;
}

.box{
    border-radius: 15px;
    padding: 10%;
    align-items: center;
    background: #f9f9f9;
    height: 50%;
    width: 50%;
    /* margin: 5% 35% 100px 35%; */
    margin: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.app__body {
    display: flex;
    background-color:#ededed;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75); 
}