.form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .signInLabel {
    font-size: medium;
  }
  
  input[type="mobile"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .logInButton,.signUpButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .signUpInfo,.logInInfo{
    margin-top: 15px;
    text-align: center;
  }
  
  .signUp,.logIn {
    color: blue;
    cursor: pointer;
  } 
  